input, button {
  background-color: var(--nord0);
  padding: 4px;
  border-radius: 4px;
  border: 3px solid var(--nord3);
  outline-offset: 2px;
  outline: 0 solid var(--nord4);

  font-size: 18px;
  font-weight: 700;

  color: var(--nord6);
  transition: 0.1s;
}

input:focus, input[type=button]:not([disabled]):hover {
  outline-width: 3px;
}

input[type=button] {
  transition: 0.06s;
}

input[disabled] {
  background-color: var(--nord1);
  border-color: var(--nord3);
  color: var(--nord3);
  transition: 0.3s;
}

input[type=button]:not([disabled]):active {
  outline-offset: 1px;
  color: var(--nord4);
}