:root {
  --bwidth: 6px;
  --bwidth-: calc(var(--bwidth) * -1);
  --bradius: 20px;
}

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

::selection {
  background-color: var(--nord10);
}

body {
  background: var(--nord0);
  margin: 0;

  font-family: "Comfortaa";
  color: var(--nord6);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

:root {
  opacity: 1;
  visibility: visible;
}

.context-menu {
  position: fixed;
  overflow: hidden;
  border-radius: calc(var(--bradius) / 2);
}

.options {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  padding: 14px;
  box-sizing: border-box;
  width: 100%;
}

.options > * {
  width: auto;
  margin: 0;
  flex: 1 0 0;
}

.options > .wide {
  flex-basis: 100%;
}

.group {
  position: relative;
  display: flex;
  flex-direction: row;

  outline-offset: 2px;
  outline-width: 0px;

  flex: 1 1 100%;
}

.group::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  outline-offset: inherit;
  outline: 0 solid var(--nord4);
  border-radius: 4px;
  transition: 0.1s;
  pointer-events: none;

  z-index: 3;
}

.group:focus-within::after {
  outline-width: 3px;
}

.group > input {
  width: 0;
  flex: 1 1 auto;
  outline: 2px solid var(--nord0) !important;
  outline-offset: 0px;

  z-index: 2;
}

.group > input ~ span {
  padding-right: var(--bwidth);
  padding-left: calc(var(--bwidth));
  box-shadow: -3px 0 var(--nord3);
}

.group > span {
  position: relative;
  background-color: var(--nord3);
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding-left: var(--bwidth);
  padding-right: calc(var(--bwidth));
  box-shadow: 3px 0 var(--nord3);

  font-weight: 1000;
}
