<div class="social-center">
  <div class="notif-center">
    <div class="notif">
      <div class="notif-message">MESSAGE</div>
    </div>
    <div class="notif error">
      <div class="notif-message">ERROR</div>
    </div>
  </div>
  <div class="account-control">
    <div class="reg">
      <h1>Welcome!</h1>
      <input placeholder="EMAIL" type="email" oninput="(async () => {
        // Get elements with ids from array
        let e = Array.from(['login-btn','reg-btn'],x=>document.getElementById(x));
        // Check if email has account linked to it
        let b = await window.checkEmail(this.value);
        // If email exists disable element 1 from array (reg-btn) and enable 0.
        // Else disable element 0 from array (login-btn) and enable 1.
        e[b%2].setAttribute('disabled', null);
        e[!b%2].removeAttribute('disabled');
      })() // This weird bracket thing is to execute lambda immediately" />
      <input placeholder="PASSWORD" type="password" />
      <div class="reg-options">
        <button secondary disabled id="login-btn">LOGIN</button>
        <button secondary id="reg-btn">REGISTER</button>
      </div>
    </div>
  </div>
</div>

<style>
  .social-bar {
    position: fixed;
    height: 100%;
    width: 320px;
    right: 0;

    background-color: var(--nord1);

    border-left: var(--bwidth) solid var(--nord2);
  }

  .social-center {
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: var(--bradius);

    box-shadow: 4px 4px var(--nord0);

    overflow: hidden;
  }

  .account-control {
    position: relative;
    height: auto;
    width: 100%;

    background-color: var(--nord2);

    border-radius: inherit;

    box-shadow: 0 -6px 6px rgba(0,0,0,0.14);

    overflow: hidden;
  }

    /*-------------------------*/
   /*    REGISTRATION MENU    */
  /*-------------------------*/

  .reg {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 14px;
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .reg > * {
    width: auto;
    margin: 0;
  }

  .reg > h1 {
    text-align: center;
  }

  .reg-options {
    display: flex;
    align-items: stretch;
    column-gap: 8px;
  }

  .reg-options > * {
    flex: 1;
  }

    /*-------------------------*/
   /*    NOTIFICATION MENU    */
  /*-------------------------*/

  .notif-center {
    max-height: 600px;
    height: auto;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: var(--bwidth);

    transition: 0.7s;
  }

  .notif-center::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 2 * var(--bradius));

    border-radius: var(--bradius);
    outline: solid var(--bwidth) var(--nord2);
    outline-offset: var(---bwidth);
  }

  .notif {
    position: relative;
    width: 100%;

    box-sizing: border-box;
    padding: 0 14px;

  }

  .notif::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% + var(--bradius));
    background-color: var(--nord0);
    border-radius: var(--bradius) var(--bradius) 0 0;

    z-index: -1;
  }

  .notif.error::before {
    background-color: var(--nord11);
  }

  .notif-message {
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0;
  }
</style>