<div class="social-center">
  <div class="reg">
    <h1>Welcome!</h1>
    <input placeholder="EMAIL" type="email" oninput="(async () => {
      // Get elements with ids from array
      let e = Array.from(['login-btn','reg-btn'],x=>document.getElementById(x));
      // Check if email has account linked to it
      let b = await window.checkEmail(this.value);
      // If email exists disable element 1 from array (reg-btn) and enable 0.
      // Else disable element 0 from array (login-btn) and enable 1.
      e[b%2].setAttribute('disabled', null);
      e[!b%2].removeAttribute('disabled');
    })() // This weird bracket thing is to execute lambda immediately" />
    <input placeholder="PASSWORD" type="password" />
    <div class="reg-options">
      <button secondary disabled id="login-btn">LOGIN</button><!--
        This comment is to avoid a whitespace gap between the buttons
      --><button secondary id="reg-btn">REGISTER</button>
    </div>
  </div>
  <div class="account-control" style="display: none;">
    <div class="acc-con-main">
      <div class="avatar acc-con-img"></div>
      <div class="name acc-con-name"></div>
      <div class="tag acc-con-tag"></div>
    </div>
  </div>
</div>

<style>
  .social-center {
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--nord10);

    border-radius: var(--border-radius);

    box-shadow: 4px 4px var(--nord2);

    overflow: hidden;
  }

  .account-control {
    position: relative;
    height: 64px;
    width: 100%;
    bottom: 0;

    background-color: var(--nord9);

    border-radius: inherit;

    box-shadow: 0 -6px 6px rgba(0,0,0,0.14);

    overflow: hidden;
  }

  .acc-con-img {
    position: absolute;
    height: 56px;
    margin: 4px;

    aspect-ratio: 1/1;

    background-size: contain;

    border-radius: calc(var(--border-radius) - 4px);
  }

  .acc-con-name {
    position: absolute;
    left: 64px;
    top: 35px;

    font-size: 20px;
    font-weight: 700;

    transform: translate(0, -100%);
  }

  .acc-con-tag {
    position: absolute;
    left: 64px;
    top: 35px;

    font-size: 16px;
    font-weight: 500;
    color: var(--nord4);
  }

  .reg {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 14px;
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .reg > * {
    width: auto;
    margin: 0;
  }

  .reg > h1 {
    text-align: center;
  }

  .reg-options {
    display: flex;
    align-items: stretch;
    column-gap: 8px;
  }

  .reg-options > * {
    flex: 1;
  }
</style>